dist: trusty
sudo: required
branches:
  only:
      - gh-pages

install:
  - sudo pip install proselint
  - sudo apt-get install aspell
  - sudo apt-get install lynx lynx-cur

script:
  - ./find_problems.sh
